body {
	background-color: black;
}


.image-container-fluid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.description, .video-container {
	display: flex;
	justify-content: center;
}

.name {
	display: flex;
	justify-content: center;
}

.email {
	display: flex;
	justify-content: center;
}


img {
	margin: 10px;
	transition: 1s;
}

img:hover {
	transform: scale(1.1);
}

h1 {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding-bottom:  100px;
	padding-top: 100px;
	font-family: 'Share Tech Mono' , monospace;
	color: white;
	font-size: 80px;
	text-align: center;
	border-bottom: 2px solid white;
	background-image: url(typematrix095.jpg);
	background-size: cover;
}

h2 {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid white;
}

p {
	color: white;
	width: 500px;
	text-align: center;
	font-family: 'Share Tech Mono', monospace;
	border: 1px solid white;
	padding: 10px;

}

.button {
	display: flex;
	justify-content: center;
	align-items: flex-end;

}
footer {
	color: white;
	text-align: center;
	font-style: italic;
	align-content: flex-end;
}
